---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import { Icon } from 'astro-icon/components';
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/nathanpickard/" target="_blank">
        <span class="sr-only">Connect with Nathan Pickard on LinkedIn</span>
        <Icon name="devicon:linkedin" size={24} />
      </a>
      <a href="https://github.com/nathanpickard" target="_blank">
        <span class="sr-only">Go to Nathan's GitHub</span>
        <Icon name="devicon:github" size={24} />
      </a>
      <a href="https://x.com/NathanPickard" target="_blank">
        <span class="sr-only">Follow Nathan Pickard on Bluesky</span>
        <Icon name="bluesky" size={24} />
      </a>
      <a href="https://x.com/NathanPickard" target="_blank">
        <span class="sr-only">Follow Nathan Pickard on X</span>
        <Icon name="devicon:twitter" size={24} />
      </a>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  :global(.social-links svg) {
    filter: grayscale(100%) opacity(60%);
    transition: filter 0.2s;
  }
  .social-links a:hover :global(svg) {
    filter: none;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
